/*tags gerais*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

li{
    font-family: 'Raleway', Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

section{
    margin: 70px 0;
}


/*fontes*/

h1, h2{
    font-family: 'Raleway', Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

p, span{
    font-family: 'Roboto', Helvetica, sans-serif;
}

/* nav bar*/

.navbar{
    position: fixed;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 25px 25px rgb(125, 125, 125, 0.5);
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
}

.navbar-logo{
    width: 140px;
    float: left;
}

.navbar-logo img {
    width: 100%;
}

ul{
    float: right;
    list-style: none;
}

ul li{
    float: left;
    margin-right: 20px;
    font-weight: bold;
    color: #333;
    list-style: none;
}

li > a {
    color: #333;
}

/*header*/

header{
    color: #ffffff;
    margin-top: 55px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    width: 100%;
    height: 300px;
    opacity: 0.8;
    padding: 60px 0 0 0;
}

header h1{
    font-weight: bolder;
    font-size: 40px;
}

.banner > p{
    margin-top: 40px;
    text-align: center;
    font-size: 18px;

}

.texto-amarelo{
    color: darkgoldenrod;
}


/*como funciona*/


h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.itens{

    display: flex;
    justify-content: space-around;
}

.itens > div {
    max-width: 200px;
    text-align: justify;
    position: relative;
}

.itens > div > img {
    width: 100%;
}

.destaque-estrela{
    max-width: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

/*call to action*/

.calltoaction{
    background: url(../img/cta.png);
    background-size: cover;
    padding: 30px;
    height: 350px;
    color: #ffffff;
}

.cta-conteudo{
    margin-top: 35px;
    border: 2px solid #ffffff;
    padding: 20px;
}

.cta-conteudo > h2{
    font-size: 40px;
}

.cta-form{
    text-align: center;
    padding-bottom: 20px;
}

.cta-form input[type="email"]{
    width: 50%;
    height: 30px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.cta-form input[type='submit']{
    background-color: #c1392b;
    border: 0;
    padding: 10px 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;

}

@media screen and (max-width:768px){
    .container {
        width: 100%;
    }
    section{
        margin: 0;
    }
    .navbar-menu{
        display: none;
    }
    header h1{
        font-size: 30px;
    }
    header{
        margin-top: 0;
        height: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .itens{
        flex-direction: column;
        align-items: center;
    }
    .cta-conteudo h2{
        font-size: 20px;
    }
    .cta-conteudo{
        margin: auto;
    }

    .cta-form input[type="email"]{
        width: 80%;
        margin-bottom: 5px;
    }
    .cta-form input[type="submit"]{
        width: 50%;
    }
    .calltoaction{
        size: 100%;
    }

}

